/* Fonts --- --- --- */

/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fugaz+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fugaz+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);

    font-family: 'Inter';
    src: url(../assets/fonts/Inter_28pt-Regular.ttf);
}

/* Fonts End --- --- */



/* Cookware Site Body --- --- --- */

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #EDEDED;
}

/* Navbar --- --- --- */

.brand-logo {
    width: 150px;
    padding-left: 75px;
}

.navbar a {
    color: #353535;
}

.navbar a:hover {
    color: #646464;
}

.navbar-sale {
    color: #B73A2A !important;
}

.navbar-sale:hover  {
    text-decoration: underline #982A1C !important;
    color: #982A1C !important;

}

/* Navbar End --- --- */



/* Hero / Header --- --- --- */

.hero-image {
    width: 100%;
    height: 80%;

    object-fit: cover;
}

.hero-text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    color: white;
    text-align: center;

    position: relative;
    bottom: 425px;
    left: -20px;
    background-color: rgb(35, 35, 35, 0.700);
    padding: 15px;
    width: 450px;
}

/* Start Cooking Section --- --- --- */

.cooking-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding-left: 100px;
    padding-right: 100px;
}

.cooking-container img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    grid-row: 2;
}

.cooking-container p {
    grid-row: 3;
}

.cooking-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;

    grid-row: 1;
    grid-column: 2 / 4;
}

.cooking-text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}

/* New Arrivals Section --- --- --- */

.arrivals-container {
    margin-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
}

.arrivals-row {
    padding-top: 25px;
    display: flex;
}

.arrivals-col {
    padding-left: 12px;
    padding-right: 12px;
}


.arrivals-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.arrivals-container img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.arrivals-container img:hover {
    filter: brightness(80%);
    transition: .2s;
}

.arrivals-container h3 {
    padding-top: 20px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.arrivals-container p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: .9rem;
    margin-bottom: 0px;
}

.arrivals-container p span {
    font-weight: 600;
}

.color-container {
    display: flex;
    padding-top: 10px;
    gap: 7px;
}

.selected-color {
    border: 1px solid black;
    border-radius: 50px;
    padding: 2px;
}

.color-selector1 {
    border-radius: 50px;
    border:1px solid #eb2d2c;
    background-color: #eb2d2c;
    width:11px;
    height:11px;
}

.color-selector2 {
    border-radius: 50px;
    border:1px solid #fb510a;
    background-color: #fb510a;
    width:15px;
    height:15px;
}

.color-selector3 {
    border-radius: 50px;
    border:1px solid #d29d12;
    background-color: #d29d12;
    width:15px;
    height:15px;
}

.color-selector4 {
    border-radius: 50px;
    border:1px solid #353535;
    background-color: #353535;
    width:15px;
    height:15px;
}

/* Best Sellers Section --- --- --- */

.bestsellers-container {
    padding-left: 100px;
    padding-right: 100px;
}

.bestsellers-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.bestsellers-row {
    padding-top: 25px;
}

.bestsellers-container .col {
    border: #5a5a5a 1px solid ;
    border-radius: 10px;
    padding: 25px;

    position: relative;
}

.bestsellers-container img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;

}

bestsellers-container h3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.bestsellers-container .col h3 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.bestsellers-container p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

.bestsellers-container button {
    border:#5a5a5a 1px solid;
    color: #1e2c20;
    font-weight: 300;
    font-size: .8rem;
}

.bestsellers-container button:hover {
    background-color: #1e2c20;
    color: white;
}

.bestsellers-container .col button {
    position: absolute;
    bottom: 20px;
}

/* Reviews Section --- --- --- */

.reviews-container {
    padding-left: 100px;
    padding-right: 100px;
}

.reviews-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;

    margin-top: 100px;
    padding-bottom: 25px;
}

.reviews-container .col img {
    width: 100%;
    height: 90%;
    border-radius: 10px;

    object-fit: cover;
}

.reviews-container .col section {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: rgb(35, 35, 35, 0.700);
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0 50px;
    padding-top: 50px;
    border-radius: 10px;

    position: relative;
    bottom: 440px;
}

.reviews-container .col h3 {
    font-weight: 500;
    font-size: 2rem;
}

.reviews-container .col p {
    font-size: 1rem;
}

/* Footer Section --- --- --- */

.footer-container {
    background-color: #1e2c20;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 25px;

    margin-top: 50px;
}

.footer-container h4 {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.footer-container p {
    font-size: .75rem;
    font-weight: 200;
}

.footer-container button {
    background-color: #1e2c20;
    border: 1px solid white;
    color: white;
    font-size: .75rem;
    font-weight: 200;

    padding: 6px 30px 3px 30px;
}

.footer-container button:hover {
    background-color: white;
    color: #1e2c20;
    font-weight: 400;
    border: 1px solid whitesmoke;
}

