/* Fonts --- --- --- */

/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fugaz+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fugaz+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);

    font-family: 'Inter';
    src: url(../assets/fonts/Inter_28pt-Regular.ttf);
}

/* Fonts End --- --- */



/* Cookware Site Body --- --- --- */

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #EDEDED;
}

/* Navbar --- --- --- */

.brand-logo {
    width: 150px;
    padding-left: 75px;
}

.navbar a {
    color: #353535;
}

.navbar a:hover {
    color: #646464;
}

.navbar-sale {
    color: #B73A2A !important;
}

.navbar-sale:hover  {
    text-decoration: underline #982A1C !important;
    color: #982A1C !important;

}

/* Navbar End --- --- */



/* Hero / Header --- --- --- */

.hero-image {
    width: 100%;
    height: 80%;

    object-fit: cover;
}

.hero-text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    color: white;
    text-align: center;

    position: relative;
    bottom: 425px;
    left: -20px;
    background-color: rgb(35, 35, 35, 0.700);
    padding: 15px;
    width: 450px;
}

/* Start Cooking Section --- --- --- */

.cooking-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding-left: 100px;
    padding-right: 100px;
}

.cooking-container img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    grid-row: 2;
}

.cooking-container p {
    grid-row: 3;
}

.cooking-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;

    grid-row: 1;
    grid-column: 2 / 4;
}

.cooking-text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}

/* New Arrivals Section --- --- --- */

.arrivals-container {
    margin-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
}

.arrivals-row {
    padding-top: 25px;
    display: flex;
}

.arrivals-col {
    padding-left: 12px;
    padding-right: 12px;
}


.arrivals-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.arrivals-container img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.arrivals-container img:hover {
    filter: brightness(80%);
    transition: .2s;
}

.arrivals-container h3 {
    padding-top: 20px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.arrivals-container p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: .9rem;
    margin-bottom: 0px;
}

.arrivals-container p span {
    font-weight: 600;
}

/* Best Sellers Section --- --- --- */

.bestsellers-container {
    margin-top: 50px;
}

.bestsellers-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.bestsellers-row {
    padding-top: 25px;
}

.bestsellers-container img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px;

}






